{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Vibur&display=swap" rel="stylesheet">
    <title>Gestión de empleados</title>
  </head>
  <body>
    <header>
      <div class="popup" id="addPp">
        <div class="overlay" ></div>
        <form class="popupCont" method="POST" action="{% url 'index' %}">
          {% csrf_token %}
          <p class="titPp">Añadir empleados</p>
          <div class="camCont">
            <div class="campos">
              <p>Nombre</p>
              <p>Apellido</p>
              <p>Cédula</p>
              <p>Sede</p>
              <p>Cargo</p>
              <p>Salario</p>
            </div>
            <div class="campos">
              <input type="text" name="name" placeholder="Nombre" value="{{ form_add.name.value|default:'' }}" required>
              <input type="text" name="lastname" placeholder="Apellido" value="{{ form_add.lastname.value|default:'' }}" required>
              <input type="text" name="cedula" placeholder="Cédula" value="{{ form_add.cedula.value|default:'' }}" maxlength="9" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
              {{ form_add.sede }}
              <input type="text" name="charge" placeholder="Cargo" value="{{ form_add.charge.value|default:'' }}" required>
              <input type="text" name="salary" placeholder="Salario" value="{{ form_add.salary.value|default:'' }}" maxlength="7" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>

            </div>
          </div>
          <div class="btnPp">
            <button id="addPp" onclick="canBtnA()">Cancelar</button>
            <button type="submit" id="acp">Aceptar</button>
</div> 
<div class="popup" id="editPp">
  <div class="overlay"></div>
<form class="popupCont" method="POST" id="popupEditForm">
  {% csrf_token %}
  <p class="titPp">Actualizar empleado</p>
  <div class="camCont">
    <div class="campos">

      <p>Nombre</p>
      <p>Apellido</p>
      <p>Cédula</p>
      <p>Sede</p>
      <p>Cargo</p>
      <p>Salario</p>
    </div>
    <div class="campos">
      <input type="hidden" name="cedula" id="cedulaInput">
      <input type="text" name="name" placeholder="Nombre" required>
      <input type="text" name="lastname" placeholder="Apellido" required>
      <input type="text" name="cedula" placeholder="Cédula" id="theCedula" maxlength="9" oninput="this.value = this.value.replace(/[^0-9]/g, '')" readonly>
      
      {{ form_add.sede }}
      
      <input type="text" name="charge" placeholder="Cargo" required>
      <input type="text" name="salary" placeholder="Salario" maxlength="7" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
    </div>
  </div>
  <div class="btnPp">
    <button class="can" onclick="canBtnE()">Cancelar</button>
    <button class="acp" onclick="submitEdit()">Actualizar</button>
  </div>
</form>
</div>

        {% endfor %}

      </div>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
