html, body{
    height: 100%;
    margin: 0;
    padding: 0; 
}
body{
    background: linear-gradient(to bottom, #99D2FB, #368CC9);
    font-family: roboto;
}
.header{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 4fr;
    margin: 0 2em 0em;
}
#emp{
    font-size: 3vw;
    margin-left: 1em;
}
button, input{
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 5px 5px 4px #00000033;
    margin: 0px 10px;
    border: none;
    font-size: 1.3vw;
    color: #000000ce;
}
button:hover{
    filter: brightness(90%);
}
button:active{
    filter: brightness(90%);
    box-shadow: 5px 5px 4px #00000052;
    transform: translateY(4px);
}
#add, #acp{
    background-color: #6FB4E6;
}
#fil{
    background-color: #b4a2df;
}
#lok{
    display: flex;
    justify-content: start;
    height: 5vh;
    width: 25vw;
    background-color: #d9d9d9c0;
    padding-left: 10%;
}
#lokCon{
    display: flex;
    align-items: center;
}
svg{
    position: absolute;
    left: 65%;
    z-index: 1;
}


#can{
 background-color: #e66f93 ;
}
.overlay, .popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.overlay{
    background-color: #00000086;
    transition: opacity 100ms ease-in-out 200ms;
    z-index: 998;
}
.popup{
    display: flex;
    justify-content: center;
    display: none;
    z-index: 999;
}
.popup.active{
    display: flex;
}
.popupCont{
    margin-top: 7vh;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    width: 50vw;
    height: 40vw;
    border-radius: 15px;
    background-color: #C5D1DA;
    z-index: 1000;
}
#titAdd{
    font-size: 2vw;
    justify-self: center;
    align-self: center;
}
.camCont{
    display: flex;
}
.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5vw 0;
    font-size: 1.3vw;
}
.btnPp{
    display: flex;
    justify-content: space-around;
}
input{
    width: 20vw;
    outline: none;
    padding-left: 5%;
}

main{
    display: grid;
    justify-content: center;
}
.main{
    width: 95vw;
    height: 75vh;
    background-color: #d9d9d9c0;
    border-radius: 15px;
    font-size: 1.3vw;
    box-shadow: 5px 10px 4px #00000018;
}
.headerbd{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 10px 1em;
}
#lin{
    width: 95vw;
    height: 1.5px;
    background-color: #00000018;
}